<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573474302271-aedjdfg96q9k58ho6idedecq88fl2b86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573474302271-aedjdfg96q9k58ho6idedecq88fl2b86</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>573474302271-e14f3uf28liakqpk9ip98p0gbl7h1h0u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApDcrH_hQal_apoHDfV3WbyHGmmtr0sMI</string>
	<key>GCM_SENDER_ID</key>
	<string>573474302271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adminPanel.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-6248e</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-6248e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573474302271:ios:d20ea8d8f9e37d81338b8a</string>
</dict>
</plist>